@model List<Chollo>

<h1>Web Job Chollometro</h1>

@foreach (Chollo c in Model)
{
    <div>
        <h2 style="color:red">ID Chollo: @c.IdChollo</h2>
        <h1>@c.Titulo</h1>
        <a href="@c.Link" target="_blank">
            @c.Link
        </a>
        <div>
            @Html.Raw(c.Descripcion)
        </div>
    </div>
    <hr/>
}